@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  background: #111827;
}

@media (max-width: 1024px) {
  .sidebar {
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    gap: 4rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  .sidebar h2 {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .categories,
  .prices {
    font-size: 1.1rem;
  }
  .navbar {
    height: 15vh;
  }
  .navbar h1 {
    font-size: 3rem;
  }
  .navbar .icon {
    font-size: 2.5rem;
  }
}
@media (max-width: 750px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    height: auto;
  }
  .navbar .icon {
    font-size: 2.2rem;
  }
  .product-img {
    height: 10rem;
  }
}

@media (max-width: 460px) and (min-width: 300px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    margin: 0;
    padding: 0.2rem 0.8rem;
  }
  .navbar .icon {
    font-size: 2.2rem;
  }
  .product-img {
    height: 6rem;
    /* width: 5rem; */
  }
  .searching-sorting {
    flex-direction: column;
    gap: 0.8rem;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .searching-sorting button {
    margin-right: 10rem;
  }
  .sidebar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: 0;
  }

  .sidebar h2 {
    font-size: 1.5rem;
  }

  .categories,
  .prices {
    font-size: 1rem;
  }
}
